/**
*Developer:Khoi Nguyen
*Date: 2/5/2017
*UCSD Code Bootcamp: Homework #4
**/
* {
  box-sizing: border-box;
}
body {
  font-family: fantasy;
  font-size: 24px;
  color: black;
  line-height: 34px;
  background: url("../images/mainBackground.png");
}
#mainHead {
	height: 60px;
}
#mainBanner {
	font-size: 60px;
	margin-right: 200px;

}
.attackBtn {
	margin-top: 20px;
	margin-bottom: 20px;
}
.topMargin {
	margin-top: 20px;
	font-size: 30px;
	color: white;
}






