/**
*Developer:Khoi Nguyen
*Date: 2/5/2017
*UCSD Code Bootcamp: Homework #4
**/
* {
  box-sizing: border-box;
}
body {
  font-family: fantasy;
  font-size: 24px;
  color: #7FFFD4;
  line-height: 34px;
  background: url("../images/footer_lodyas.png");
}




